<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkMfaNH4lJCXF9ePSXywDEvLcSP2JZius</string>
	<key>GCM_SENDER_ID</key>
	<string>718020661691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project2-13e77</string>
	<key>STORAGE_BUCKET</key>
	<string>project2-13e77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718020661691:ios:972876bf60a455978d749e</string>
</dict>
</plist>